{% extends 'base.html.twig' %}

{% block title %}All Societies !{% endblock %}

{% block body %}

<ul>
    <li><a href="{{ path("app_employee") }}">See employee list</a></li>
    <li><a href="{{ path("app_society") }}">See society list</a></li>
    <li><a href="{{ path("new_society") }}">Create a society</a></li>
</ul>

<h1>Societies list :</h1>

<ul>
    {% for society in societies %}
        <li><a href="{{ path("show_society" , {"id": society.id })  }}">{{ society }}</a></li>
    {% endfor %}
</ul>

{% endblock %}
