{% extends 'base.html.twig' %}

{% block title %}All Societies !{% endblock %}

{% block body %}

<div class="navbar-main">
    <a class="navbar-button" href="{{ path("app_employee") }}">See employee list</a>
    <a class="navbar-button" href="{{ path("app_society") }}">See society list</a>
    <a class="navbar-button-create"href="{{ path("new_society") }}">Create a society</a>
</div>


<h1 class="entity-simplelist-title">Societies list :</h1>

<div class="entity-simplelist">
    {% for society in societies %}
        <a class="entity-simplelist-element" href="{{ path("show_society" , {"id": society.id })  }}">{{ society }}</a>
    {% endfor %}
</div>

{% endblock %}
