{% extends 'base.html.twig' %}

{% block title %}Society Info{% endblock %}

{% block body %}

<div class="navbar-main">
    <a class="navbar-button" href="{{ path("app_employee") }}">See employee list</a>
    <a class="navbar-button" href="{{ path("app_society") }}">See society list</a>
</div>


<H2 class="society-name">{{ society }}</H2>

<p>
    {{ society ~ " is located in " ~ society.city ~ " (" ~ society.postalcode ~ ")"}}
</p>
<p>
    Created on {{ society.Creationdate | date("d M Y") }}
</p>

<h3>Employees list :</h3>

{% if society.employees | length > 0 %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in society.employees %}
                <tr><td><a href="{{ path("show_employee" , {"id": employee.id }) }}">{{ employee }}</a></td></tr>
            {% endfor %}
        </tbody>
    </table> 
{% else %}
    <p>There is not any employee in this society</p>
{% endif %}

{% endblock %}
