{% extends 'base.html.twig' %}

{% block title %}All Societies !{% endblock %}

{% block body %}

<ul>
    <li><a href="{{ path("app_employee") }}">See employee list</a></li>
    <li><a href="{{ path("app_society") }}">See society list</a></li>
</ul>

<h1>Society Informations :</h1>
<br>

<H2>{{ society }}</H2>

<p>
    {{ society ~ " is located in " ~ society.city ~ " (" ~ society.postalcode ~ ")"}}
</p>
<p>
    Created on {{ society.Creationdate | date("d M Y") }}
</p>

<h3>Employees list :</h3>

{% if society.employees | length > 0 %}
    <ol>
        {% for employee in society.employees %}
            <li><a href="{{ path("show_employee" , {"id": employee.id }) }}">{{ employee }}</a></li>
        {% endfor %}
    </ol>    
{% else %}
    <p>There is not any employee in this society</p>
{% endif %}

{% endblock %}
