{% extends 'base.html.twig' %}

{% block title %}Society Info{% endblock %}

{% block body %}

<div class="navbar-main">
    <a class="navbar-button" href="{{ path("app_employee") }}">See employee list</a>
    <a class="navbar-button" href="{{ path("app_society") }}">See society list</a>
</div>


<H2 class="society-name">{{ society }}</H2>

<p>
    {{ society ~ " is located in " ~ society.city ~ " (" ~ society.postalcode ~ ")"}}
</p>
<p>
    Created on {{ society.Creationdate | date("d M Y") }}
</p>

{% if society.employees | length > 0 %}
    <H3 class="entity-simplelist-title">Employees list :</H3>
    <div class="entity-simplelist">
        {% for employee in society.employees %}
            <a class="entity-simplelist-element" href="{{ path("show_employee" , {"id": employee.id }) }}">{{ employee }}</a>
        {% endfor %}
    </div>
{% else %}
    <p>There is not any employee in this society</p>
{% endif %}

{% endblock %}
