{% extends 'base.html.twig' %}

{% block title %}All Employees{% endblock %}

{% block body %}

<div class="navbar-main">
    <a class="navbar-button" href="{{ path("app_employee") }}">See employee list</a>
    <a class="navbar-button" href="{{ path("app_society") }}">See society list</a>
    <a class="navbar-button-create" href="{{ path("new_employee") }}">Create an Employee</a>
</div>

<h1 class="entity-simplelist-title">Employee list :</h1>

<div class="entity-simplelist">
    {% for employee in employees %}
        <a class="entity-simplelist-element" href="{{ path("show_employee" , {"id": employee.id }) }}">{{ employee }}</a>
    {% endfor %}
</div>

{% endblock %}
