{% extends 'base.html.twig' %}

{% block title %}Employee info{% endblock %}

{% block body %}

<ul>
    <li><a href="{{ path("app_employee") }}">See employee list</a></li>
    <li><a href="{{ path("app_society") }}">See society list</a></li>
</ul>

<h1>Employee Informations :</h1>
<br>

<H2>{{ employee }}</H2>

<p>{{ employee.firstname }} is {{ employee.getAge }} years old and is located in {{ employee.city }}</p>

<p>
    {{ employee.firstname }} is working at <a href="{{ path("show_society" , {"id": employee.society.id}) }}">{{ employee.society.label }}</a> since {{ employee.datehired | date("d M Y") }}
</p>



{% endblock %}
