{% extends 'base.html.twig' %}

{% block title %}Employee info{% endblock %}

{% block body %}

<div class="navbar-main">
    <a class="navbar-button" href="{{ path("app_employee") }}">See employee list</a>
    <a class="navbar-button" href="{{ path("app_society") }}">See society list</a>
</div>

<H1 class="employee-name">{{ employee }}</H1>

<p>{{ employee.firstname }} is {{ employee.getAge }} years old and is located in {{ employee.city }}</p>

<p>
    {{ employee.firstname }} is working at <a class="entity-simplelist-element" href="{{ path("show_society" , {"id": employee.society.id}) }}">{{ employee.society.label }}</a> since {{ employee.datehired | date("d M Y") }}
</p>

<a class="entity-edit-button" href="{{ path('edit_employee', {"id" : employee.id} ) }}">
    <img class="entity-edit-button-image" src="{{ asset("img/button_edit.png") }}" alt="">
</a>



{% endblock %}
